{% extends 'accounts/base.html' %}

{% block content %}

<table class="table caption-top">
    <caption>List of posts</caption>
    <tbody>
    {% for post in posts %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{post.title}}</td>
        <td>
          
            <div class="row">
                <div class="col-6">
                  <a href="{{ post.get_update_url }}" class="btn btn-primary m-2">Update</a>
                </div>
                <div class="col-6">
                  <a href="{{ post.get_delete_url }}" class="btn btn-danger m-2">Delete</a>
                </div>
            </div>
        </td>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}