  {% extends 'blog/base.html' %}
  {% load static %}
  {% block content %}
  
  <section class="section-6rasm container">
    {% for post in posts %}
    <a href="{{ post.get_absolute_url}}">
      <div class="card">
        <div class="card-img">
            <img src="{{post.picture}}" alt="">
        </div>
        <div class="card-describtion">
            {{post.title}}
        </div>
        <div class="card-time">
            {{post.publish}}
        </div>
    </div>
    </a>
    
    {% endfor %}
    
</section>


<section class="section-last-news container"> 
  <div class="ln">
      <h5>Latest news</h5>
      {% for post in latest %}
      <a href="{{post.get_absolute_url}}" class="ln-item">
          <img src="{{post.picture}}" height="143" width="252" alt="">
          <div class="ln-text">
              <div class="ln-text-title">
                  {{ post.title }}
              </div>
              <div class="ln-title-desc">
                  {{post.body|truncatewords:20}}
              </div>
              <div class="ln-title-time">
                  {{post.publish}}
              </div>
          </div>
      </a>
      {% endfor %}
     
      <div class="ln-btn"><a href="{% url 'blog:posts_list' %}">More news</a></div>
  </div>


  <div class="ong">
      <div class="ucell">
        {% for post in popular %}
        {% if forloop.first %}
          <div class="ucell-item">
              <a href="{{post.get_absolute_url}}" class="ucelll-item">
                  <div class="uc-title">
                      Most popular posts
                  </div>
                  <div class="uc-text">
                      {{post.title}}
                  </div>
                  <div class="uc-time">
                      {{post.publish}}
                  </div>
              </a>
          </div> 
          {% else %}
          <div class="ucell-item">
            <a href="{{post.get_absolute_url}}" class="ucelll-item">
                <div class="uc-text">
                  {{post.title}}
                </div>
                <div class="uc-time">
                    {{post.publish}}
                </div>
            </a>
        </div>
          {% endif %}
          {% endfor %}
          
          
          
      </div>
      
  </div>
  
</section>



{% endblock %}