
    <section class="section-last-news container"> 
      <div class="ln">
        
          {% for post in posts %}
          <a href="{{post.get_absolute_url}}" class="ln-item">
              <img src="{{post.picture}}" height="143" width="252" alt="">
              <div class="ln-text">
                  <div class="ln-text-title">
                      {{ post.title }}
                  </div>
                  <div class="ln-title-desc">
                      {{post.body|truncatewords:20}}
                  </div>
                  <div class="ln-title-time">
                      <img src="./resourse/ln-time-icon-calendar.svg" alt="">
                      {{post.publish}}
                  </div>
              </div>
          </a>
          {% endfor %}
      </div>
    
    
      
      
    </section>
    
    
    
